.spyproject
RCenv.yml
/OutputReport/1C/*.csv
/OutputReport/2C/*.csv
/OutputReport/warnings.txt
AppuntiCoseDaFare.lnk
*.docx
/RC_classes/__pycache__/
Main_Parametrico.py
Elenco_pacchetti.txt
/Input/Belzoni_508_h_c_plant_no_ed_grandi.json
/eu_en
