.spyproject
RCenv.yml
/eureca_ubem/Input/Belzoni.json
/eureca_ubem/Input_qgis/
/eureca_ubem/Input/Belzoni/
/eureca_ubem/Input/geojson/
/eureca_ubem/Input/geojson_numba/
/eureca_ubem/Input/logging.log
/eureca_ubem/Input/total envelope types.xlsx
/eureca_ubem/__pycache__/
/eureca_ubem.egg-info/
/OutputReport/1C/*.csv
/OutputReport/2C/*.csv
/OutputReport/warnings.txt
/eureca_ubem/Input/Chiaravalle/
/eureca_ubem/Input/.idea/
AppuntiCoseDaFare.lnk
*.docx
/RC_classes/__pycache__/
Main_Parametrico.py
Elenco_pacchetti.txt
/Input/Belzoni_508_h_c_plant_no_ed_grandi.json
/eu_en/
/eureca/
/.vscode/
Main_test_DHW.py
/dist/
/build/
/.idea/
logging.log
/eureca_ubem/Input/Zurich_Building_LoD2_V10.city.json
/eureca_ubem/Input_qgis/.idea/
/eureca_ubem/logging.log
eureca_building/__pycache__/
eureca_building/test/__pycache__/
eureca_building/test/hvac_plots/
eureca_building/example_scripts/__pycache__/
eureca_building/example_scripts/eureca_example.py
eureca_building/example_scripts/logging.log
eureca_building/example_scripts/Results/
eureca_building/example_scripts/Results/Results Bd 1.csv
eureca_building/example_scripts/domestic_hotwater_example.py
eureca_building/example_scripts/VDI_bestests.py
eureca_building/example_scripts/logging.log
eureca_building.egg-info/
eureca_building/test/__pycache__/
.idea/
build/
dist/
venv/
.pytest_cache
logging.log
.spyproject
/eureca_building/example_scripts/logging.log
/eureca_building/example_scripts/materials_and_construction_test_MV.xlsx